 .u-section-1 {
  background-image: none;
  min-height: 809px;
}

.u-section-1 .u-image-1 {
  height: 686px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-shape-1 {
  height: 195px;
  width: 839px;
  margin: -71px auto 0;
}

.u-section-1 .u-group-1 {
  min-height: 319px;
  width: 746px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -319px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 22px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Roboto, sans-serif;
  margin: 24px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  font-size: 1.5rem;
  margin: 13px 13px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 499px;
}

.u-section-2 .u-list-1 {
  margin: 32px 0 20px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 407px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 9px 8px 0px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 22px;
}

.u-section-2 .u-icon-1 {
  height: 111px;
  width: 111px;
  background-image: none;
  margin: 8px auto 0;
  padding: 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 22px 0 0 8px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 9px 8px 0px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 22px;
}

.u-section-2 .u-icon-2 {
  height: 111px;
  width: 111px;
  background-image: none;
  margin: 8px auto 0;
  padding: 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 22px 0 0 8px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 9px 8px 0px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 22px;
}

.u-section-2 .u-icon-3 {
  height: 111px;
  width: 111px;
  background-image: none;
  margin: 8px auto 0;
  padding: 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 22px 0 0 8px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 9px 8px 0px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 22px;
}

.u-section-2 .u-icon-4 {
  height: 111px;
  width: 111px;
  margin: 8px auto 0;
  padding: 0;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 22px 0 0 8px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1rem;
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-top: 145px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 332px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-icon-1 {
    height: 105px;
    width: 105px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 36px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-icon-2 {
    height: 105px;
    width: 105px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 36px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-icon-3 {
    height: 105px;
    width: 105px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 36px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-icon-4 {
    height: 105px;
    width: 105px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
    margin-top: 36px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 735px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    margin-top: 142px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.875rem;
  }
}